{% extends 'base.html' %} {% load static %} {% block body %}

<div class="searchBox">
  <form action="{% url 'students:searchResults' %}" method="get">
    <div id="search">
      <input
        type="search"
        placeholder="Search For Students"
        style="text-align: center"
        id="searchid"
        name="NameTobeSearched"
      />

          <path
            d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"
          />
        </svg>
      </button>
    </div>
  </form>
</div>
<div id="search-results">
  {% if students %}
  <section class="table__header">
    <h1 class="statusTitle">Search Results</h1>
  </section>
  <div class="allStatusTable">
    <main class="table" id="saifTable">
      <section class="table__body">
        <table>
          <thead>
            <tr>
              <th>ID</th>
              <th>Name</th>
              <th>BirthDate</th>
              <th>Level</th>
              <th>GPA</th>
              <th>Status</th>
              <th>Department</th>
              <th>PhoneNumber</th>
              <th>Gender</th>
              <th>E-Mail</th>
            </tr>
          </thead>

          <tbody>
            {% for student in students %}
            <tr>
              <td>{{ student.id }}</td>
              <td>
                <a
                  style="text-decoration: none; color: black"
                  onmouseover="this.style.color='#668caafe'; this.style.fontWeight='bold';"
                  onmouseout="this.style.color='black';this.style.fontWeight='normal';"
                  href="{% url 'students:studentInfo' student.id %}"
                  >{{student.name}}
                </a>
              </td>
              <td>{{ student.birthdate }}</td>
              <td>{{ student.level }}</td>
              <td>{{ student.gpa }}</td>
              <td>{{ student.status }}</td>
              <td>{{ student.department }}</td>
              <td>{{ student.phonenumber }}</td>
              <td>{{ student.gender }}</td>
              <td>{{ student.email }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </section>
    </main>
  </div>
  {% else %}
  <div class="no-results-container">
    <p class="no-results">No results found.</p>
  </div>
  {% endif %}
</div>

{% endblock body %}
