{% extends 'base.html' %}

{% block body %}
    <section class="table__header">
        <h1 class="statusTitle">Student Info</h1>
    </section>
    <br><br><br>
    <div class="allStatusTable">
        <main class="table" id="saifTable">
            <section class="table__body">
                <table>
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>ID</th>
                        <th>Level</th>
                        <th>GPA</th>
                        <th>Status</th>
                        <th>Department</th>
                    </tr>
                </thead>
                    <tr>
                        <td>{{ student.name }}</td>
                        <td>{{ student.id }}</td>
                        <td>{{ student.level }}</td>
                        <td>{{ student.gpa }}</td>
                        <td>{{ student.status }}</td>
                        <td>{{ student.department }}</td>
                    </tr>
                </table>
        </section>
        <div class="smallBtnArea">
            <a href="{% url 'students:assign-department' student.id %}">
                <input type="button" value="Assign Department" class="Btn">
            </a>
            <a href="{% url 'students:update'%}"><input type="button" value="Update" onclick="window.location.href='editInfo.html'" class="Btn"></a>
            <a href = "{% url 'students:delete' student.id%}">
                <input type="button" value="Delete" class="Btn">
            </a>        
</div>
        </table>
    </main>
    </div> 


{% endblock body %}
