{% extends 'base.html' %} {% block body %} <br /><br />

<section class="table__header">
  <h1 class="statusTitle">Assign Department</h1>
</section>

<form action="{% url 'students:assign-department' student.id %}" method="POST">
  {% csrf_token %}
  <div class="formOverall">
    <form id="editform">
      <h2 id="depH2">Student Info</h2>
      <div class="studentData">
        <div>
          <span class="formName">Student Name</span>
          <input type="text" name="name" disabled value="{{ student.name }}" />
        </div>
        <div>
          <span class="formName">Student ID </span>
          <input type="text" name="id" disabled value="{{ student.id }}" />
        </div>
        <div>
          <span class="formName">Student Level</span>
          <input type="text" name="id" disabled value="{{ student.level }}" />
        </div>
        <br /><br />
        <div>
          <span class="formName">Student Department</span>
          <label for="dep"></label>
          <select id="dep" name="dep" class="xD">
          <option value="CS"  {% if student.department == "CS" %}selected{% endif %}>CS</option>
          <option value="AI" {% if student.department == "AI" %}selected{% endif %}>AI</option>
          <option value="IS" {% if student.department == "IS" %}selected{% endif %}>IS</option>
          <option value="IT" {% if student.department == "IT" %}selected{% endif %}>IT</option>
          <option value="DS" {% if student.department == "DS" %}selected{% endif %}>DS</option>
          </select>
        </div>
      </div>
      <div class="smallBtnArea">
        <input
          type="submit"
          value="Submit"
          onclick="return confirm('Are you sure?')"
          class="Btn"
        />
      </div>
    </form>
  </div>
</form>

{% endblock body %}
