{% extends 'base.html' %}
{% block body %}
<section class="table__header">
  <h1 class="statusTitle">Students Info</h1>
</section>
<form action="{% url 'students:status' %}" method="POST">
  {% csrf_token %}
  <div class="allStatusTable">
    <main class="table" id="saifTable">
      <section class="table__body">
        <table>
          <thead>
            <tr>
              <th>ID</th>
              <th>Name</th>
              <th>Status</th>
            </tr>
          </thead>
          <tbody>
            {% for student in allStudents %}
            <div id="studentContainer">
              <tr>
                <td>{{ student.id }}</td>
                <td>{{ student.name }}</td>
                <td>
                  <label for="status" name="" ></label>
                  <select   name="stDstatus" id="stDstatus" data-student-id="{{ student.id }}">
                    <option value="ACTIVE" {% if student.status == "ACTIVE" %}selected{% endif %}>Active</option>
                    <option value="INACTIVE" {% if student.status == "INACTIVE" %}selected{% endif %}>Inactive</option>
                  </select>
                </td>
              </tr>
            </div>
            {% endfor %}
          </tbody>

        </table>
      </section>
    </main>
  </div>
</form>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
  $(document).ready(function() {
    $('#stDstatus').change(function() {
      var selectedStatus = $(this).val();
      var studentId = $(this).data('student-id');
      
      $.ajax({
        url: '/update-status/',  
        type: 'POST',
        data: {
          csrfmiddlewaretoken: '{{ csrf_token }}',
          studentId: studentId,
          status: selectedStatus,
        },
        success: function() {
          
          console.log('Status updated successfully');
        },
        error: function() {
          console.log('Error updating status');
        }
      });
    });
  });
</script>
{% endblock body %}
